/*=========================================
  DIVISOR ENTRE SECCIONES
=========================================*/

.section-divider{

    display:flex;

    justify-content:center;

    align-items:center;

    padding:55px 20px;

    background:#ffffff;

}

.section-divider span{

    position:relative;

    display:flex;

    align-items:center;

    justify-content:center;

    width:260px;

    height:1px;

    background:#597B9C;

}

.section-divider span::before{

    content:"❦";

    position:absolute;

    background:#ffffff;

    padding:0 18px;

    font-size:32px;

    color:#BEB5DD;

}