/*=========================================
            DIVISORES
=========================================*/

.section-divider{

    display:flex;

    justify-content:center;

    align-items:center;

    margin:15px auto 10px;

}

.section-divider::after{

    content:"";

    position:absolute;

    top:38px;

    left:50%;

    transform:translateX(-50%);

    width:220px;

    height:1px;

    background:linear-gradient(
        to right,
        transparent,
        #BEB5DD,
        transparent
    );

}

.section-divider img{

    width:160px;

    height:auto;

    display:block;

    background:#f8f4ef;

}