:root{

    --color-background:#F8F4EF;

    --color-surface:#F8F4EF;

    --color-primary:#597B9C;

    --color-primary-dark:#1D2739;

    --color-secondary:#BEB5DD;

    --color-gold:#BEB5DD;

    --color-text:#1D2739;

    --color-text-light:#597B9C;

    --color-white:#FFFFFF;

    --font-title:'Cormorant Garamond', serif;

    --font-script:'Great Vibes', cursive;

    --font-body:'Poppins', sans-serif;

    --container-width:1200px;

    --section-padding:110px;

    --radius:22px;

    --shadow-sm:0 5px 20px rgba(0,0,0,.05);

    --shadow-md:0 10px 35px rgba(0,0,0,.08);

    --shadow-lg:0 20px 60px rgba(0,0,0,.12);

    --transition:.35s ease;

}